.werbung { 	
	width: 100%; 	
	height: 100px; 	
	/* background-color: #637d96;*/ 	
	font-size:xx-small !important; 	
	/* vertical-align: middle; */
} 

.hwadw { 	
	position: absolute; 	
	left: 0px; 	
	opacity: .75; 	
	width: 20%; 	
	height: 95px; 	
	float: left; 	
	-moz-transform: rotate(0deg); 	
	-ms-transform: rotate(0deg); 	
	-o-transform: rotate(0deg); 	
	-webkit-transform: rotate(0deg); 
	transform: rotate(0deg) !important;
 	vertical-align: top; 
	text-align: right !important;
} 

.adw { 
	position: absolute; 
	right: 0px; 
	width: auto; 
	height: 95px; 
	float: left; 
	vertical-align: bottom; 
	text-align: left !important; 
}
