/* style.css - optional grey */
body {
	color: black;
	background-color: #8B9398;
}
.transpabgcol {
	background-color: #8B9398;
	color: #8B9398;
}
a { 
	color: #ACACAC; 
}
a:visited { 
	color: #ACACAC; 
}
a:hover { 
	color: #8B9398; 
}
h1 {
	font-size: 14pt;
}
	
h3 a { 
	color: #8B9398; 
}
h3 a:visited { 
	color: #8B9398; 
}
h3 a:hover { 
	color: #42474C; 
}
.transpabgcol a {
	color: #8B9398;
}
.transpabgcol a:hover {
	color: #8B9398;
}
.transpabgcol a:visited {
	color: #8B9398;
}
.container {
		background-color: #FFF; 
}

#emailMessageBody {
	background-color: #FFF;
	padding-right:25px;
	padding-left:25px;
}

hr{
border: 0;
height: 2px;
background-image: linear-gradient(to right,
rgba(0,0,0,0),
rgba(139, 147, 152, 1),
rgba(0,0,0,0));
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
