body {
		color: black;
		background-color: #5f7891;
}

h1 {
		font-size: 14pt;
}
	
.container {
		background-color: #AFB8C2;
}

#emailMessageBody {
	background-color: #FFF;
	padding-right:25px;
	padding-left:25px;
}

hr{
border: 0;
height: 2px;
background-image: linear-gradient(to right,
rgba(0,0,0,0),
rgba(95, 120, 145, 1),
rgba(0,0,0,0));
}
